/* Default styling for larger screens */
.hero-cta a {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 2px;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
    .hero-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-cta a {
        display: block ;
        margin-right : 0 ;
        margin-bottom: 2px ;
    }
}

.project-wrapper{
    margin-bottom: 0px !important;
}

/* Default styling for larger screens */
.container {
    padding-right: 5%;
    padding-left: 5%;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
    .hide {
        display: none !important;
    }
}

.justify-text{
    text-align:justify !important; 
}